.admin-panel
  .admin-panel-main
    .admin-panel-main__wrapper
      .admin-panel__ava
        img(src="assets/img/ava.png")
    .admin-panel-second
      .admin-panel-second__btn-open.js-open-btn-admin-panel
        +icon('chevron-right')
      .admin-panel-second__wrapper
        ul.admin-menu
          li.admin-menu__item
            a.admin-menu__item-link(href="#")
              +icon('plus')
          li.admin-menu__item
            a.admin-menu__item-link(href="#")
              +icon('file-text')
          li.admin-menu__item
            a.admin-menu__item-link(href="#")
              +icon('users')
          li.admin-menu__item
            a.admin-menu__item-link(href="#")
              +icon('user')
          li.admin-menu__item
            a.admin-menu__item-link(href="#")
              +icon('grid')
          li.admin-menu__item
            a.admin-menu__item-link(href="#")
              +icon('send')
          li.admin-menu__item
            a.admin-menu__item-link(href="#")
              +icon('check-square')
          li.admin-menu__item
            a.admin-menu__item-link(href="#")
              +icon('map-pin')
          li.admin-menu__item
            a.admin-menu__item-link(href="#")
              +icon('user-check')
          li.admin-menu__item
            a.admin-menu__item-link(href="#")
              +icon('refresh-ccw')
          li.admin-menu__item
            a.admin-menu__item-link(href="#")
              +icon('filter')
