footer.footer
  .all
    .footer-left
      a(href="#") Служба поддержки
    .footer-center
      ul.footer-nav
        li
          a(href="#") Пользовательское соглашение
        li
          a(href="#") Контакты
        li
          a(href="#") Правовая информация
        li
          a(href="#") Помощь (FAQ)
    .footer-right
      .link-sites
        a(href="#")
          img(src="assets/img/site1.svg")
        a(href="#")
          img(src="assets/img/site2.svg")
    .footer-copy
      | © Департамент образования и науки г. Москвы, 2023
      .small При полном или частичном использовании материалов с официальных сайтов Правительства Москвы ссылка на источник обязательна.


include modals
