footer.footer-new
  .all
    .footer-new-wrapper
      .footer-new__up
        .footer-new__menu
          .col-menu.col1
            ul.footer-new__nav
              li
                a(href="#") Служба поддержки
          .col-menu.col2
            ul.footer-new__nav
              li
                a(href="#") Пользовательское соглашение
              li
                a(href="#") Правовая информация
          .col-menu.col3
            ul.footer-new__nav
              li
                a(href="#") Контакты
              li
                a(href="#") Помощь (FAQ)
          .col-menu.--logos
            .footer-new__logos
              .item-foot-logo
                img(src="assets/img/logo_dpo.svg")
              .item-foot-logo
                img(src="assets/img/mosru.svg")
      .footer-new__down
        .footer-new__copy
          | © Департамент образования и науки г. Москвы, 2023 <br>
          .soglasie При полном или частичном использовании материалов с официальных сайтов Правительства Москвы ссылка на источник обязательна.


include modals
