+modal("modal-support")
  .just-modal__header
    .just-modal-title.h2-title служба поддержки
    .just-modal-subtitle Опишите вашу проблему.
  .just-modal-form
    .just-modal-form__row
      label.label Имя
      input.input(type="text")
    .just-modal-form__row
      label.label E-mail
      input.input(type="text")
    .just-modal-form__row
      label.label Ваша проблема
      textarea.textarea
    .just-modal-form__row.pb-32
      .b-checkbox
        input(type="checkbox" id="fff")
        label.b-checkbox__label(for="fff")
          span.checked
            +icon('check')
          span.b-checkbox__text Согласен на <a href="#">обработку персональных данных</a>
    .just-modal-form__row.pb-32
      .text-captcha Подтвердите, что вы не робот
      .captcha
        img(src="assets/img/capha.png")
    .just-modal-form__row
      button.btn.btn--full(type="submit") Отправить

+modal("modal-login", "modal--white modal-form-normal")
  .just-modal-form
    .just-modal-form__row
      .b-radio
        input(type="radio" id="rad1")
        label.b-radio__label(for="rad1")
          span.checked
          span.b-radio__text Вход для директора
    .just-modal-form__row
      .b-radio
        input(type="radio" id="rad2")
        label.b-radio__label(for="rad2")
          span.checked
          span.b-radio__text Вход для соискателя
    .just-modal-form__btns
      .just-modal-form__col2
        button.btn.btn--full(type="submit") Продолжить
      .just-modal-form__col2
        a.btn.btn--border.btn--full.js-just-modal__close(href="#") Отменить


+modal("modal-covering-letter", "modal-covering-letter")
  .just-modal-form
    .just-modal__header
    .just-modal-form__row
      .label Сопроводительное письмо
      textarea.textarea.--covering-letter
    .just-modal-form__btns
      .just-modal-form__col2
        button.btn.btn--full(type="submit") Отправить

+modal("modal-anons", "modal-big modal-anons")
  .just-modal-anons
    .anons-img
      img(src="assets/img/anons-big.png")
    .anons-date 28.06.2023
    .anons-title.h4-title Современная методология разработки оказалась ошибочной
    .anons-text
      p И нет сомнений, что представители современных социальных резервов, превозмогая сложившуюся непростую экономическую ситуацию, указаны как претенденты на роль ключевых факторов. Задача организации, в особенности же экономическая повестка сегодняшнего дня предоставляет широкие возможности для стандартных подходов. Есть над чем задуматься: сделанные на базе интернет-аналитики выводы, вне зависимости от их уровня, должны быть превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Сложно сказать, почему диаграммы связей ассоциативно распределены по отраслям! Таким образом, глубокий уровень погружения говорит о возможностях системы обучения кадров, соответствующей насущным потребностям.

      p Однозначно, ключевые особенности структуры проекта освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, функционально разнесены на независимые элементы. В частности, начало повседневной работы по формированию позиции обеспечивает актуальность экономической целесообразности принимаемых решений.

      p Однозначно, ключевые особенности структуры проекта освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, функционально разнесены на независимые элементы. В частности, начало повседневной работы по формированию позиции обеспечивает актуальность экономической целесообразности принимаемых решений.
      p Однозначно, ключевые особенности структуры проекта освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, функционально разнесены на независимые элементы. В частности, начало повседневной работы по формированию позиции обеспечивает актуальность экономической целесообразности принимаемых решений.

      p Однозначно, ключевые особенности структуры проекта освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, функционально разнесены на независимые элементы. В частности, начало повседневной работы по формированию позиции обеспечивает актуальность экономической целесообразности принимаемых решений.
      p Однозначно, ключевые особенности структуры проекта освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, функционально разнесены на независимые элементы. В частности, начало повседневной работы по формированию позиции обеспечивает актуальность экономической целесообразности принимаемых решений.

      p Однозначно, ключевые особенности структуры проекта освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, функционально разнесены на независимые элементы. В частности, начало повседневной работы по формированию позиции обеспечивает актуальность экономической целесообразности принимаемых решений.

+modal("modal-review", "modal-middle modal-review")
  .just-modal-review
    .review-list.custom-scroll
      - for (var i=0; i<5; i++)
        .review-item
          .review-item__header
            .review-item__title Отзыв
            .review-item__date 12.07.2023
          .review-item__text Банальные, но неопровержимые выводы, а также реплицированные с зарубежных источников, современные исследования подвергнуты целой серии независимых исследований. Для современного мира высококачественный прототип будущего проекта предоставляет широкие возможности для благоприятных перспектив.
          .review-item__bottom
            .name Смирнов Иван Иванович
            .text-gray Директор УО “СШ №64”

