.footer
  font-size: 15px
  margin-top: auto
  &-wrapper
    padding: 40px 0 30px
    background: $baseBg
    margin-top: 140px
    +r($md)
      margin-top: 80px
  .all
    display: flex
    flex-wrap: wrap
    align-items: center

  &-left
    flex: 0 0 30%
    +r($md)
      flex: 1 1 100%
      text-align: center
      padding-bottom: 40px
  &-center
    flex: 1 1 auto
    +r($md)
      flex: 1 1 100%
  &-right
    max-width: 190px
    +r($md)
      flex: 1 1 100%
      max-width: 100%
  &-copy
    color: $clrGrey50
    text-align: center
    width: 100%
    padding-top: 48px
    .small
      font-size: 12px
      padding-top: 4px
  &-nav
    margin: 0
    list-style: none
    display: flex
    flex-wrap: wrap
    +r($md)
      max-width: 500px
      margin: 0 auto 16px
    li
      width: 50%
      margin-bottom: 12px
      +r($md)
        width: 100%
        text-align: center
        margin-bottom: 16px
      a
        color: $clrGrey90
        &:hover
          color: $clrGrey50
  .link-sites
    display: flex
    gap: 12px
    +r($md)
      justify-content: center

    a
      display: flex
      align-items: center
      justify-content: center
      background: #fff
      width: 60px
      height: 60px
      border-radius: 8px
      &:hover
        opacity: .8



.login-page
  .footer-wrapper
    margin-top: 0


.footer-new
  color: $clrGrey20
  padding: 40px 0 32px
  &-wrapper
    background: #003E5B
    padding: 40px
    border-radius: 32px
    +r($lg)
      padding: 32px 20px
  &__up
    display: flex
    align-items: center
  &__down
    padding-top: 40px
  &__menu
    display: flex
    align-items: center
    flex: 1 1 auto
    +r($lg)
      flex-wrap: wrap
    +r($md)
      flex-direction: column
    .col-menu
      width: 25%
      padding: 0 20px
      +r($lg)
        padding: 0 10px
        width: 33.333%
      +r($md)
        width: 100%
        text-align: center
        padding-bottom: 24px
      &.col1
        +r($md)
          order: 0
      &.col2
        +r($lg)
          width: auto
          flex: 1 1 auto
        +r($md)
          order: 2
      &.col3
        +r($lg)
          width: 25%
        +r($md)
          width: 100%
          order: 3
      &.--logos
        width: auto
        flex: 1 1 auto
        display: flex
        +r($lg)
          width: 100%
          text-align: center
          margin-left: 0
        +r($md)
          order: 1

  &__nav
    margin: 0
    padding: 0
    list-style: none
    li
      margin: 0
      padding: 0
      display: block
      font-size: 15px
      &+li
        padding-top: 15px
      a
        color: #F4F9FB
        text-decoration: none
  &__logos
    margin-left: auto
    display: flex
    +r($lg)
      margin: 0 auto
      padding-top: 24px
      text-align: center
    +r($md)
      padding-top: 0
    .item-foot-logo
      display: flex
      align-items: center
      justify-content: center
      background: #F4F9FB
      border-radius: 8px
      margin-left: 12px
      min-width: 60px
      max-width: 60px
      height: 60px
    img
      max-width: 34px
      max-height: 34px

  &__copy
    text-align: center
    font-size: 15px
    .soglasie
      font-size: 12px
      padding-top: 4px
      +r($md)
        color: #A0A0A0
        padding-top: 24px
