.header
  width: 100%
  padding: 29px 0
  background: $baseBg
  position: relative
  +r($lg)
    padding: 18px 0
    height: 56px
    position: fixed
    top: 0
    left: 0
    z-index: 101
  .all
    display: flex
    align-items: center
    position: relative
    +r($lg)
      z-index: 101
  .logo
    .svg-icon--logo
      width: 160px
      height: 18px
  &-right
    margin-left: auto
    display: flex
    align-items: center
    gap: 48px

    .btns
      display: flex
      gap: 20px
      +r($lg)
        display: none
  &__links
    display: flex
    align-items: center
    gap: 30px
    +r($lg)
      display: none
    .btn-link
      display: inline-block
      vertical-align: top
  &-auth
    display: flex
    align-items: center
    +r($lg)
      display: none
    &__icons
      display: flex
      align-items: center
      gap: 24px
      margin-right: 24px
      .link-item
        position: relative
        &:hover
          .svg-icon
            fill: $clrPrimaryMain
            &--bell
              fill: none
              stroke: $clrPrimaryMain
      .new-mess
        position: absolute
        top: 0
        right: 4px
        width: 8px
        height: 8px
        border-radius: 50%
        background: #D53656
      .svg-icon
        width: 24px
        height: 24px
        fill: $clrGrey90
        &--bell
          fill: none
          stroke: $clrGrey90
          stroke-width: 2
  .drop-link
    margin-bottom: -8px
    &__label
      padding-bottom: 8px
  .link--support
    margin-left: 60px
    +r($lg)
      display: none
  .burger-btn
    background: none
    border: none
    height: 18px
    position: relative
    width: 30px
    display: none
    +r($lg)
      display: block
    &__line
      background-color: $clrGrey90
      border: 1px solid $clrGrey90
      border-radius: 3px
      display: block
      height: 1px
      position: absolute
      transition: .5s
      width: 20px
      &:first-child
        left: 0
        top: 0
        transition: right .4s .4s,top .4s .4s,transform .4s
      &:nth-child(2)
        left: 0
        top: 8px
        transition: opacity .4s
      &:nth-child(3)
        bottom: 0
        left: 0
        transition: left .4s .4s,bottom .4s .4s,transform .4s

    &.opened
      .burger-btn
        &__line
          &:first-child
            left: 0
            top: 7px
            transform: rotate(45deg)
            transition: right .4s,top .4s,transform .4s .4s
          &:nth-child(2)
            opacity: 0
          &:nth-child(3)
            bottom: 8px
            left: 0
            transform: rotate(-45deg)
            transition: left .4s,bottom .4s,transform .4s .4s

.mobile-menu
  height: 100%
  left: 102vw
  padding: 0
  position: fixed
  top: 0
  width: 100%
  z-index: 100
  font-size: 15px
  overflow: hidden

  &__overlay
    background: rgba(0, 0, 0, 0.08)
    position: absolute
    top: 55px
    bottom: 0
    left: 0
    width: 100%
  &__wrapper
    position: absolute
    top: 56px
    right: -101vw
    width: 100%
    max-width: 560px
    padding: 40px 32px 40px 0
    display: flex
    gap: 40px
    background: $baseBg
    border-radius: 0 0 0 16px
    flex-direction: column
    transition: all .5s ease
    max-height: calc(100% - 57px)
    +r($xss)
      width: 100%
  &__nav
    &-list
      display: flex
      flex-direction: column
      gap: 18px
      li
        a.btn
          display: block
  &__header
    padding-left: 32px
    +r($xss)
      padding-left: 12px
  &__content
    flex: 1 1 auto
    overflow: auto
    padding-left: 32px
    +r($xss)
      padding-left: 12px
  .menu-links
    display: flex
    flex-direction: column
    gap: 24px
    font-weight: 500
    li
      a
        color: $clrGrey90
        &.link-support
          color: $clrPrimaryMain
          text-decoration: underline
  .menu-levels
    margin-left: -12px
  .open-submenu
    border-color: $clrPrimaryMain
    color: $clrPrimaryMain
    .link-submenu

      &__icon
        transform: rotate(0deg)
        top: 5px
    &.link-submenu
      border-color: $clrPrimaryMain
  .link-submenu
    display: inline-block
    vertical-align: top
    position: relative
    border-left: 3px solid rgba(255,255,255, 0)
    &__label
      display: inline-block
      vertical-align: top

      padding: 3px 22px 3px 11px
    &__icon
      position: absolute
      top: 4px
      right: 0
      transform: rotate(-90deg)
      .svg-icon
        width: 18px
        height: 18px
    ul
      font-weight: 400
  .submenu
    padding-top: 15px
    display: none
    li
      display: block
      padding-left: 18px
      &+li
        margin-top: 15px
  &__footer
    padding-top: 20px
    padding-left: 32px
    +r($xss)
      padding-left: 12px
.open-menu
  .mobile-menu
    left: 0

.open-menu-in
  .mobile-menu
    &__wrapper
      right: 0


.index-page
  .header
    background: $baseBg

.second-page
  +r($lg)
    padding-top: 75px

  .header
    background: #fff
    +r($lg)
      background: $baseBg


.e404-page
  +r($lg)
    padding-top: 75px

  .header
    background: #fff
    +r($lg)
      background: $baseBg
  .main
    flex: 1 1 auto
    display: flex
    align-items: center
    justify-content: center
