.header
  width: 100%
  padding: 43px 0
  .all
    display: flex
    align-items: center
  .logo
    .svg-icon--logo
      width: 160px
      height: 18px
  &-right
    margin-left: auto
    .btns
      display: flex
      gap: 20px

.index-page
  .header
    background: $baseBg
