@media print {
  .header, .footer, .cabinet-info__bottom {
    display: none !important;
  }
  .all {max-width: 1300px !important; width: 1300px !important}
  a[href]:after { content: none; }
  /* Обнулить поля на странице */
  @page {
    size: Letter portrait;
    margin: 0;
  }
  ul, img {
    page-break-inside: avoid;
  }
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  body, .cabinet-info__label {
    font-size: 13px;
  }
  .cabinet-info__text {
    font-size: 16px;
  }
  .h2-title {
    font-size: 24px;
  }
  .cabinet-info__section {padding: 10px 0;}
  .cabinet-info__row + .cabinet-info__row {
    padding-top: 8px;
  }
  .cabinet-info__row.--x2 {
    padding-bottom: 18px;
  }
}
