.lvl1
  background: $baseBg
  margin-bottom: 80px
  +r($lg)
    border-radius: 0 0 16px 16px
    padding-bottom: 60px
    margin-bottom: 40px
  .all
    align-items: center
    display: flex
    +r($lg)
      flex-wrap: wrap
  .h1-title
    line-height: 1.1
    text-transform: uppercase
    margin: 0
    padding: 0 0 12px

  .b-btn
    .btn
      +r($md)
        width: 100%
  .text
    padding-bottom: 32px
  &-content
    +r($lg)
      text-align: center
      order: 1
  &-img
    min-width: 532px
    max-width: 532px
    position: relative
    top: 32px
    +r($lg)
      top: 0
      order: 0
      text-align: center
      margin: 0 auto
      min-width: 200px
      max-width: 50%
      margin-bottom: 18px

.lvl2
  margin-bottom: 40px
  +r($md)
    margin-bottom: 0
.card3in
  padding: 0 20px
  width: 33.333%
  display: flex
  margin-bottom: 20px
  +r($lg)
    padding: 0 12px
  +r($md)
    max-width: 300px
    min-width: 40vw
    width: auto
  +r($sm)
    min-width: 70vw
  &-list
    margin: 0 -20px 20px
    display: flex
    +r($lg)
      margin: 0 -12px 32px
    +r($md)
      overflow: auto
      max-width: 100vw
    &__wrapper
      display: flex
      min-width: 100%

  &-wrapper
    padding: 65px 10px
    border-radius: 16px
    background: $baseBg
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100%
    +r($md)
      padding: 32px 10px
  &__icon
    margin-bottom: 18px
    +r($md)
      img
        max-width: 120px
  &__text
    color: $clrGrey70
    max-width: 190px
    text-align: center
    +r($md)
      font-size: 18px
  .num
    padding-bottom: 4px
    font-size: 50px
    font-weight: 900
    color: $clrGrey90
    +r($md)
      font-size: 32px

.card2in
  width: 50%
  padding: 0 20px
  display: flex
  margin-bottom: 40px
  +r($md)
    width: 100%
    margin-bottom: 32px
  &-list
    display: flex
    margin: 0 -20px 40px
    +r($md)
      flex-wrap: wrap
  &-wrapper
    padding: 40px 40px 20px
    display: flex
    align-items: center
    border-radius: 16px
    background: $baseBg
    width: 100%
    +r($lg)
      padding: 32px
      align-items: flex-start
    +r($md)
      background: none
      padding: 0

  &-content
    width: 100%
    &__info
      +r($md)
        background: $baseBg
        border-radius: 16px
        margin-bottom: 12px
        padding: 32px
    .title
      font-size: 18px
      font-weight: 600
      padding-bottom: 12px
    .text
      padding-bottom: 18px
      +r($md)
        padding-bottom: 0
    .b-btn
      display: flex
      gap: 12px
      +r($md)
        width: 100%
        flex-direction: column
      .btn
        +r($md)
          width: 100%
        &-reg
          +r($md)
            order: 1
  &-img
    min-width: 150px
    text-align: center
    max-width: 150px
    margin-top: -60px
    +r($lg)
      display: none

.card-weclome
  background: $baseBg
  padding: 27px 40px
  display: flex
  align-items: center
  border-radius: 16px
  gap: 20px
  margin-bottom: 80px
  +r($lg)
    padding: 24px 32px
  +r($md)
    flex-wrap: wrap
    padding: 32px 12px
    margin: 0 -12px 40px
  &__list
    display: flex
    gap: 18px
    max-width: 520px
    width: 60%
    flex-direction: column
    +r($md)
      order: 1
      width: 100%
      max-width: 100%
      gap: 8px
    .card-info
      width: 100%
  &__text
    margin-left: auto
    max-width: 300px
    +r($md)
      margin: 0 auto 18px
      text-align: center
    .title
      font-size: 32px
      font-weight: 900
      padding-bottom: 18px
      text-transform: uppercase
      +r($md)
        font-size: 28px
      +r($sm)
        font-size: 24px
    .text
      color: #000
      padding-bottom: 32px
      +r($md)
        padding-bottom: 0
    .b-btn
      +r($md)
        display: none
  &__mobile-btn
    display: none
    padding-top: 20px
    +r($md)
      display: block
      width: 100%
      order: 3
      .btn
        width: 100%

.card-info
  color: $clrGrey10
  display: flex
  &-list
    display: flex
    margin-bottom: 40px
    &--3-col
      gap: 40px
      .card-info
        width: 33.333%
  &-wrapper
    padding: 24px 40px
    background: $clrBlueSecond
    border-radius: 16px
    width: 100%
    +r($md)
      padding: 24px
  .num
    color: $clrBlueSecond
    margin-bottom: 50px
    +r($md)
      margin-bottom: 12px
    span
      display: flex
      align-items: center
      justify-content: center
      border-radius: 8px
      width: 35px
      height: 35px
      background: #fff


  .title
    font-weight: 900
    font-size: 24px
    text-transform: uppercase
    padding-bottom: 2px
  .text
    font-weight: 400
    font-size: 15px
  &.red
    .card-info
      &-wrapper
        background: $clrRedSecond
    .num
      color: $clrRedSecond
  &.yellow
    .card-info
      &-wrapper
        background: $clrYellowSecond
    .num
      color: $clrYellowSecond

.lvl3
  margin-bottom: 40px
  +r($md)
    background: $baseBg
    border-radius: 16px
    padding: 40px 0
  .b-btn-mobile
    display: none
    +r($md)
      display: block
      width: 100%
      .btn
        width: 100%
.diagnostic
  width: 25%
  padding: 0 20px
  color: $clrGrey90
  font-weight: 900
  font-size: 24px
  text-transform: uppercase
  text-align: center
  display: flex
  height: 350px
  margin-top: auto
  margin-bottom: 40px
  +r($lg)
    max-width: 300px
    min-width: 40vw
    width: auto
    height: 300px
    padding: 0 6px
  +r($sm)
    min-width: 70vw
  &-header
    display: flex
    +r($md)
      flex-wrap: wrap
    .title
      max-width: 30%
      min-width: 25%
      margin-right: 90px
      font-weight: 900
      font-size: 32px
      text-transform: uppercase
      +r($md)
        max-width: 100%
        min-width: 100%
        margin: 0 0 18px
        font-size: 24px
        text-align: center
    .b-text
      font-size: 15px
      padding-bottom: 32px
      max-width: 350px
      +r($md)
        max-width: 100%
        width: 100%
        text-align: center
    .b-btn
      padding-top: 32px
      +r($md)
        display: none
    .b-text2
      max-width: 350px
      text-align: right
      margin-left: auto
      +r($md)
        display: none
  &-list
    display: flex
    margin: 0 -20px
    +r($lg)
      margin: 0
      width: 100vw
      overflow: auto
    &__wrapper
      display: flex
      width: 100%
  &-wrapper
    padding: 0 20px 50px
    display: flex
    flex-direction: column
    justify-content: flex-end
    background: $baseBg
    border-radius: 16px
    width: 100%
    +r($md)
      background: #fff
  .img
    margin-bottom: 22px
  .title
    max-width: 210px
    margin: 0 auto
    display: flex
    min-height: 63px
    align-items: center
  &.item2
    height: 230px
    +r($lg)
      height: 300px
  &.item3
    height: 190px
    +r($lg)
      height: 300px

.lvl-title
  text-align: center
  font-size: 32px
  font-weight: 900
  text-transform: uppercase
  margin-bottom: 40px


.lvl4
  padding-bottom: 40px
  +r($md)
    padding-bottom: 10px
  .loader-etc
    +r($md)
      display: none
.anons
  &-list
    display: flex
    flex-wrap: wrap
    margin: 0 -20px 20px
    +r($lg)
      margin-left: -6px
      margin-right: -6px
    +r($md)
      overflow: auto
      margin: 0
      width: 100vw
    &__wrapper
      display: flex
      flex-wrap: wrap
      width: 100%
      +r($md)
        flex-wrap: nowrap
  &-item
    font-size: 15px
    min-width: 33.333%
    max-width: 33.333%
    display: flex
    padding: 0 20px 40px
    +r($lg)
      padding-left: 6px
      padding-right: 6px
      padding-bottom: 30px
    +r($md)
      max-width: 300px
      min-width: 40vw
      width: auto
    +r($sm)
      min-width: 70vw
    &--2
      min-width: 66.666%
      max-width: 66.666%
      +r($md)
        max-width: 300px
        min-width: 40vw
        width: auto
      +r($sm)
        min-width: 70vw
    &__wrapper
      background: $baseBg
      padding: 0 20px 20px
      border-radius: 16px
      width: 100%
    &__img
      margin: 0 -20px 25px
      border-radius: 16px
      height: 270px
      background-position: 50% 0
      background-repeat: no-repeat
      background-size: cover
      +r($md)
        height: 190px
    &__date
      padding-bottom: 12px
      color: $clrGrey40
    &__title
      padding-bottom: 6px
      font-size: 18px
      font-weight: 600
      +r($md)
        font-size: 15px
        font-weight: 400
    &__text
      color: $clrGrey80
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
    &__bottom
      display: flex
      flex-direction: column

.loader-etc
  text-align: center
  padding-bottom: 40px


.banner-career
  display: flex
  align-items: center
  padding: 60px
  background: $baseBg
  border-radius: 16px
  margin-bottom: 40px
  +r($md)
    padding: 24px
  &__text
    max-width: 500px
    +r($md)
      margin: 0 auto
      text-align: center
    .title
      font-size: 32px
      font-weight: 900
      padding-bottom: 18px
      text-transform: uppercase
    .text
      padding-bottom: 32px
  &__img
    text-align: center
    margin-left: auto
    flex: 1 1 auto
    position: relative
    margin-top: -70px
    +r($md)
      display: none
  .btn
    width: 100%
.lvl5
  padding-bottom: 40px

.hidden-md
  +r($md)
    display: none !important



.questions
  display: flex
  &-remain
    display: flex
    width: 100%
    gap: 40px
    .h2-title
      text-transform: uppercase
    +r($md)
      flex-wrap: wrap
      gap: 16px
    .b-btn-mobile
      display: none
      +r($md)
        display: block
        width: 100%
        .btn
          width: 100%
    .text
      margin-bottom: 32px
      +r($md)
        margin-bottom: 16px
    &__left
      max-width: 45%
      min-width: 45%
      +r($md)
        min-width: 100%
        max-width: 100%
        text-align: center
        .b-btn
          +r($md)
            display: none
    &__right
      flex: 1 1 auto
      max-width: 55%
      +r($md)
        max-width: 100%
        width: 100%

.faq
  &-list
  &-item
    padding: 24px
    border-radius: 16px
    border: 1px solid $clrPrimaryBorder
    margin-bottom: 12px
    width: 100%
    &:hover
      background: $baseBg
    &.active
      background: $baseBg
      border-color: $baseBg
      .svg-icon--plus-circle
        display: none
      .svg-icon--minus-circle
        display: block
    &__toggle
      position: relative
      display: flex
      cursor: pointer

    &__ico
      display: flex
      min-width: 20px
      margin-left: auto
      margin-top: 3px
      .svg-icon--plus-circle
        display: block
      .svg-icon--minus-circle
        display: none
    &__title
      padding-right: 24px
      flex: 1 1 auto
      max-width: 90%
      margin-right: 16px
      font-size: 18px
      font-weight: 600


    &__desc
      padding-top: 8px
      display: none
