//- svg icon
mixin icon(name,mod)
  if(mod)
    svg(class="svg-icon --color svg-icon--" + name + ' ' + mod)
      use(xlink:href="assets/img/sprite-color.svg#icon-color-" + name)
  else
    svg(class="svg-icon svg-icon--" + name)
      use(xlink:href="assets/img/sprite.svg#icon-" + name)


mixin modal(name,mclass)
  .just-modal(id="" + name class="" + mclass)
    .just-modal__wrapper
      .just-modal__overlay
      .just-modal__container
        .just-modal__body
          block
        .just-modal__close-wrapper
          button(type="button" class="just-modal__close js-just-modal__close")
            +icon('close')


