extends ../template-admin

block variables
  - var title = 'Кабинет админа_каталог_резюме'
  - var pageClass = 'cabinet-page mode-admin'
  - var headerAuth = true
  - var keywords = 'some keyword'
  - var description = 'some description'
  - var mainClass = 'main--office'
  - var isAdmin = true

block content
  .all
    .cabinet
      .cabinet-header
        .cabinet-header__row
          .cabinet-header__left
            .cabinet-header__title.h2-title каталог резюме
        .cabinet-header__search
          .b-pole
            input.input.pole-search(type="text" placeholder="ID, ссылка, название")
          .mobile-filter
            button.btn.js-filter-toggler__btn
              +icon('sliders')
          .cabinet-header__search-btns
            input.btn.--md-hidden(value="Найти" type="submit")
            button.btn.btn--border Сохранить поиск
        .cabinet-header__filters
          .label Найдено 112 вакансий
          .drop-select.drop-select--small.js-drop-select
            .drop-select__label.js-drop-select__label
              | За все время
            .drop-select__arrow
              +icon('chevron-down')
            .drop-select__dropdown
              .drop-select__dropdown-wrapper
                ul
                  li.drop-select__item
                    span.b-select-inline.js-drop-select__val(data-label="1 день") 1 день
                  li.drop-select__item
                    span.b-select-inline.js-drop-select__val(data-label="5 дней") 5 дней
      .cabinet-wrapper
        .cabinet-aside.js-filter-toggler
          .catalog-filter

            button.catalog-filter__close.js-filter-toggler__close
              +icon('close')
            .catalog-filter__box
              .catalog-filter__title Должность
              .catalog-filter__list
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f1")
                    label.b-checkbox__label(for="f1")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Директор
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f2")
                    label.b-checkbox__label(for="f2")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Завуч
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f3")
                    label.b-checkbox__label(for="f3")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Педагог-организатор
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f4")
                    label.b-checkbox__label(for="f4")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Преподаватель
            .catalog-filter__box
              .catalog-filter__title Предметная область
              .catalog-filter__list
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f11")
                    label.b-checkbox__label(for="f11")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Математика и информатика
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f12")
                    label.b-checkbox__label(for="f12")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Филология
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f13")
                    label.b-checkbox__label(for="f13")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Физика, химия, биология
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f14")
                    label.b-checkbox__label(for="f14")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Обществознание
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f15")
                    label.b-checkbox__label(for="f15")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Технология
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f16")
                    label.b-checkbox__label(for="f16")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Искусство
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f17")
                    label.b-checkbox__label(for="f17")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Физическая культура
            .catalog-filter__box
              .catalog-filter__title Тип занятости
              .catalog-filter__list
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f21")
                    label.b-checkbox__label(for="f21")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Полная занятость
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f22")
                    label.b-checkbox__label(for="f22")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Частичная занятость

            .catalog-filter__box
              .catalog-filter__title График работы
              .catalog-filter__list
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f31")
                    label.b-checkbox__label(for="f31")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Полный день
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f32")
                    label.b-checkbox__label(for="f32")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Сменный график
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f33")
                    label.b-checkbox__label(for="f33")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Гибкий график
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f34")
                    label.b-checkbox__label(for="f34")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Удаленная работа
            .catalog-filter__box
              .catalog-filter__title Нагрузка
              .catalog-filter__list
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f41")
                    label.b-checkbox__label(for="f41")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text 0,5 ставки
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f42")
                    label.b-checkbox__label(for="f42")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text 1 ставка
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f43")
                    label.b-checkbox__label(for="f43")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text 2 ставки

            .catalog-filter__box
              .catalog-filter__title Возможность подмены
              .catalog-filter__list
                .catalog-filter__item
                  .b-radio.b-radio--blue
                    input(type="radio" name="m1" id="r1")
                    label.b-radio__label(for="r1")
                      span.checked
                      span.b-radio__text.js-drop-select__val(data-label="Да") Да
                .catalog-filter__item
                  .b-radio.b-radio--blue
                    input(type="radio" name="m1" id="r2")
                    label.b-radio__label(for="r2")
                      span.checked
                      span.b-radio__text.js-drop-select__val(data-label="Нет") Нет


            .catalog-filter__box
              .catalog-filter__title Округ
              .catalog-filter__list.js-show-more-wrapper
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f51")
                    label.b-checkbox__label(for="f51")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Центральный
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f52")
                    label.b-checkbox__label(for="f52")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Северный
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f53")
                    label.b-checkbox__label(for="f53")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Северо-Восточный
                .catalog-filter__item.hidden
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f54")
                    label.b-checkbox__label(for="f54")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Северо-Восточный
                .catalog-filter__item.hidden
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f55")
                    label.b-checkbox__label(for="f55")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Северо-Восточный
                .catalog-filter__item.hidden
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f56")
                    label.b-checkbox__label(for="f56")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Северо-Восточный
                .catalog-filter__item.hidden
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f57")
                    label.b-checkbox__label(for="f57")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Северо-Восточный
                .catalog-filter__show-more
                  a.show-more__link.js-show-more__link(href="#" data-show-text="Показать все" data-hide-text="Свернуть") Показать все
            .catalog-filter__box
              .catalog-filter__title Район
              .catalog-filter__list
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f61")
                    label.b-checkbox__label(for="f61")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Тверской
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f62")
                    label.b-checkbox__label(for="f62")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Выхино-Жулебино
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f63")
                    label.b-checkbox__label(for="f63")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Тропарёво-Никулино
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f64")
                    label.b-checkbox__label(for="f64")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Тимирязевский
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f65")
                    label.b-checkbox__label(for="f65")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Новогиреево
            .catalog-filter__box
              .catalog-filter__title Район
              .catalog-filter__list
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f71")
                    label.b-checkbox__label(for="f71")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Не имеет значения
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f72")
                    label.b-checkbox__label(for="f72")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text от 5 000 ₽
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f73")
                    label.b-checkbox__label(for="f73")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text от 30 000 ₽
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f74")
                    label.b-checkbox__label(for="f74")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text от 50 000 ₽
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f75")
                    label.b-checkbox__label(for="f75")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text от 80 000 ₽
                .catalog-filter__item
                  .b-checkbox.b-subeckbox
                    input(type="checkbox" id="f76")
                    label.b-checkbox__label(for="f76")
                      span.checked
                        +icon('check')
                      span.b-checkbox__text Своя зарплата
                .catalog-filter__item
                  input.input.inp-price(type="text" placeholder="от")


        .cabinet-content
          .cabinet__list
            - for (var i=0; i<5; i++)
              .cabinet__card__wrapper.cabinet__card--smd
                .cabinet__card.cabinet__card--catalog
                  .cabinet__card__header
                    .b-left
                      h3.h3-title.header-title Преподаватель обществознанияоб ществознания
                      ul.cabinet__card__infos
                        li Преподаватель

                    ul.cabinet__card__infos.--mobile
                      li Преподаватель

                    .b-right
                      .cabinet-ava.--small
                        .cabinet-ava-img.active
                          img(src="assets/img/ava.png")
                  .cabinet__card__body
                    .info-card-resume
                      .b-row
                        .info-card-resume-label Возраст
                        .info-card-resume-text 43 года
                      .b-row
                        .info-card-resume-label Опыт работы
                        .info-card-resume-text 12 лет
                      .b-row
                        .info-card-resume-label Возможность подмены
                        .info-card-resume-text Да
                    .organisation__title Последнее место работы
                    .organisation УО «Средняя школа №1»
                    .local сентябрь 2019 — по настоящее время





          .pagination-section
            ul.pagination.--right.--md-center
              li.pagination__item.arr-prev
                a.link.arr(href="#")
                  +icon('chevron-left')
              li.pagination__item
                a.link.active(href="#") 1
              li.pagination__item
                a.link(href="#") 2
              li.pagination__item
                a.link(href="#") 3
              li.pagination__item
                span.link ...
              li.pagination__item
                a.link(href="#") 10
              li.pagination__item.arr-next
                a.link.arr(href="#")
                  +icon('chevron-right')
