extends ../template

block variables
  - var title = 'Кабинет'
  - var pageClass = 'cabinet-page'
  - var headerAuth = true
  - var keywords = 'some keyword'
  - var description = 'some description'
  - var mainClass = 'main--office'

block content
  .all
    .cabinet
      .cabinet-header
        .cabinet-ava-wrapper
          .cabinet-ava
            .cabinet-ava-img.active
              img(src="assets/img/ava.png")
        .cabinet-fio.h2-title иванова анна андреевна
      .cabinet-content
        .cabinet-info
          .cabinet-info__section
            .cabinet-info__row
              .cabinet-info__md-1
                .form-item
                  .cabinet-info__label Возраст
                  .cabinet-info__text 29 лет
            .cabinet-info__row
              .cabinet-info__md-1
                .form-item
                  .cabinet-info__label Пол
                  .cabinet-info__text Женский
            .cabinet-info__row
              .cabinet-info__md-1
                .form-item
                  .cabinet-info__label Семейное положение
                  .cabinet-info__text Замужем
          .cabinet-info__section
            .cabinet-info__row
              .cabinet-info__md-1
                .form-item
                  .cabinet-info__label Место проживания
                  .cabinet-info__text Москва, ЦАО, Арбат
            .cabinet-info__row
              .cabinet-info__md-1
                .form-item
                  .cabinet-info__label Телефон
                  .cabinet-info__text +7 (495) 123-45-67
            .cabinet-info__row
              .cabinet-info__md-1
                .form-item
                  .cabinet-info__label E-mail
                  .cabinet-info__text
                    a(href="#") mojemail@mail.ru
          .cabinet-info__section
            .cabinet-info__row.--x2
              .cabinet-info__md-1
                .form-item
                  .cabinet-info__label СНИЛС
                  .cabinet-info__text ХХХ-ХХХ-ХХХ YY
            .cabinet-info__row.--x2
              .cabinet-info__md-1
                .form-item
                  .cabinet-info__label Готовность к переезду
                  .cabinet-info__text Не готова
            .cabinet-info__row.--x2
              .cabinet-info__md-1
                .form-item
                  .cabinet-info__label Ссылки на соц.сети
                  .cabinet-info__text
                    a(href="#") https://vk.com/id23456789
                    br
                    a(href="#") https://vk.com/id23456789
          .cabinet-info__bottom
            .cabinet-info__error
              | Вы зарегистрированы через портал ДПО. <br>
              | Чтобы изменить данные, перейдите на сайт портала ДПО.
            .cabinet-info__btns
              a.btn.btn--border.btn--xs-full.md-order-1(href="#") Заявка на удаление профиля
              input.btn.btn--xs-full.md-order-0(type="submit" disabled value="Редактировать профиль")

