extends ../template

block variables
  - var title = 'Кабинет Директора_отклики на вакансию'
  - var pageClass = 'cabinet-page'
  - var headerAuth = true
  - var keywords = 'some keyword'
  - var description = 'some description'
  - var mainClass = 'main--office'

block content
  .all
    .cabinet
      .cabinet-header
        .cabinet-header__row
          .cabinet-header__left
            .cabinet-header__title.h2-title каталог вакансий
            .cabinet-header__subtitle преподаватель истории
          .cabinet-header__right.--md-4.just-right
            .b-btns
              .drop-select.js-drop-select.cabinet-header-select--status-right
                .drop-select__label.js-drop-select__label
                  | Статус кандидата
                .drop-select__arrow
                  +icon('chevron-down')
                .drop-select__dropdown
                  .drop-select__dropdown-wrapper
                    ul
                      li.drop-select__item
                        .b-radio.b-radio--blue
                          input(type="radio" name="m1" id="r1")
                          label.b-radio__label(for="r1")
                            span.checked
                            span.b-radio__text.js-drop-select__val(data-label="Приглашение отправлено") Приглашение отправлено
                      li.drop-select__item
                        .b-radio.b-radio--blue
                          input(type="radio" name="m1" id="r2")
                          label.b-radio__label(for="r2")
                            span.checked
                            span.b-radio__text.js-drop-select__val(data-label="Отклик не рассмотрен") Отклик не рассмотрен
                      li.drop-select__item
                        .b-radio.b-radio--blue
                          input(type="radio" name="m1" id="r2")
                          label.b-radio__label(for="r2")
                            span.checked
                            span.b-radio__text.js-drop-select__val(data-label="Избранные резюме") Избранные резюме

        .cabinet-header__search
          .b-pole
            input.input.pole-search(type="text" placeholder="ID, ссылка, название")
          .mobile-filter
            button.btn.js-filter-toggler__btn
              +icon('sliders')
          .cabinet-header__search-btns
            input.btn(value="Найти" type="submit")
            button.btn.btn--border Сохранить поиск

      .cabinet-wrapper
        .cabinet-content
          .cabinet__list
            .cabinet__card__wrapper.cabinet__card--smd
              .cabinet__card.cabinet__card--catalog
                .cabinet__card__header.--md-reverse
                  .b-left
                    h3.h3-title.header-title Преподаватель обществознанияоб ществознания
                    h4.h4-title Иванова Анна Андреевна, 29 лет

                  .b-right.--status-fav
                    .b-btns-right
                      button.btn.btn--border.btn-small
                        span.svg-icon
                          +icon('heart')
                        span.btn-label Удалить из избранного
                .cabinet__card__body
                  ul.options-vacansy
                    li.item-vacansy
                      span.item-vacansy__label Стаж
                      span.item-vacansy__text 1-3 года
                    li.item-vacansy
                      span.item-vacansy__label Последнее место работы
                      span.item-vacansy__text УО СШ №321
                    li.item-vacansy
                      span.item-vacansy__label Уровень зарплаты
                      span.item-vacansy__text от 30 000 ₽

                .cabinet__card__footer
                  .b-left
                    .b-btns
                      a.btn.btn--xs-full(href="#") Подробнее

            .cabinet__card__wrapper.cabinet__card--smd
              .cabinet__card.cabinet__card--catalog
                .cabinet__card__header.--md-reverse
                  .b-left
                    h3.h3-title.header-title Преподаватель обществознанияоб ществознания
                    h4.h4-title Иванова Анна Андреевна, 29 лет

                  .b-right.--status-fav
                    .b-btns-right
                      span.btn.btn--border.btn-small
                        span.svg-icon
                          +icon('send')
                        span.btn-label Приглашение отправлено
                      button.btn.btn--border.btn-small
                        span.svg-icon
                          +icon('heart')
                        span.btn-label Удалить из избранного
                .cabinet__card__body
                  ul.options-vacansy
                    li.item-vacansy
                      span.item-vacansy__label Стаж
                      span.item-vacansy__text 1-3 года
                    li.item-vacansy
                      span.item-vacansy__label Последнее место работы
                      span.item-vacansy__text УО СШ №321
                    li.item-vacansy
                      span.item-vacansy__label Уровень зарплаты
                      span.item-vacansy__text от 30 000 ₽

                .cabinet__card__footer
                  .b-left
                    .b-btns
                      a.btn.btn--xs-full(href="#") Подробнее

            .cabinet__card__wrapper.cabinet__card--smd
              .cabinet__card.cabinet__card--catalog
                .cabinet__card__header.--md-reverse
                  .b-left
                    h3.h3-title.header-title Преподаватель обществознанияоб ществознания
                    h4.h4-title Иванова Анна Андреевна, 29 лет

                  .b-right.--status-fav
                    .b-btns-right
                      span.btn.btn--border.btn-small
                        span.svg-icon
                          +icon('send')
                        span.btn-label Приглашение отправлено
                      button.btn.btn--border.btn-small
                        span.svg-icon
                          +icon('heart')
                        span.btn-label Удалить из избранного
                .cabinet__card__body
                  ul.options-vacansy
                    li.item-vacansy
                      span.item-vacansy__label Стаж
                      span.item-vacansy__text 1-3 года
                    li.item-vacansy
                      span.item-vacansy__label Последнее место работы
                      span.item-vacansy__text УО СШ №321
                    li.item-vacansy
                      span.item-vacansy__label Уровень зарплаты
                      span.item-vacansy__text от 30 000 ₽

                .cabinet__card__footer
                  .b-left
                    .b-btns
                      a.btn.btn--xs-full(href="#") Подробнее
            .cabinet__card__wrapper.cabinet__card--smd
              .cabinet__card.cabinet__card--catalog
                .cabinet__card__header.--md-reverse
                  .b-left
                    h3.h3-title.header-title Преподаватель обществознанияоб ществознания
                    h4.h4-title Иванова Анна Андреевна, 29 лет

                  .b-right.--status-fav
                    .b-btns-right
                      span.btn.btn--border.btn-small
                        span.svg-icon
                          +icon('send')
                        span.btn-label Приглашение отправлено
                      button.btn.btn--border.btn-small
                        span.svg-icon
                          +icon('heart')
                        span.btn-label Удалить из избранного
                .cabinet__card__body
                  ul.options-vacansy
                    li.item-vacansy
                      span.item-vacansy__label Стаж
                      span.item-vacansy__text 1-3 года
                    li.item-vacansy
                      span.item-vacansy__label Последнее место работы
                      span.item-vacansy__text УО СШ №321
                    li.item-vacansy
                      span.item-vacansy__label Уровень зарплаты
                      span.item-vacansy__text от 30 000 ₽

                .cabinet__card__footer
                  .b-left
                    .b-btns
                      a.btn.btn--xs-full(href="#") Подробнее
            .cabinet__card__wrapper.cabinet__card--smd
              .cabinet__card.cabinet__card--catalog
                .cabinet__card__header.--md-reverse
                  .b-left
                    h3.h3-title.header-title Преподаватель обществознанияоб ществознания
                    h4.h4-title Иванова Анна Андреевна, 29 лет

                  .b-right.--status-fav
                    .b-btns-right
                      button.btn.btn--border.btn-small
                        span.svg-icon
                          +icon('heart')
                        span.btn-label В избранное
                .cabinet__card__body
                  ul.options-vacansy
                    li.item-vacansy
                      span.item-vacansy__label Стаж
                      span.item-vacansy__text 1-3 года
                    li.item-vacansy
                      span.item-vacansy__label Последнее место работы
                      span.item-vacansy__text УО СШ №321
                    li.item-vacansy
                      span.item-vacansy__label Уровень зарплаты
                      span.item-vacansy__text от 30 000 ₽

                .cabinet__card__footer
                  .b-left
                    .b-btns
                      a.btn.btn--xs-full(href="#") Подробнее
              .cabinet__card__wrapper.cabinet__card--smd
                .cabinet__card.cabinet__card--catalog
                  .cabinet__card__header.--md-reverse
                    .b-left
                      h3.h3-title.header-title Преподаватель обществознанияоб ществознания
                      h4.h4-title Иванова Анна Андреевна, 29 лет

                    .b-right.--status-fav
                      .b-btns-right
                        button.btn.btn--border.btn-small
                          span.svg-icon
                            +icon('heart')
                          span.btn-label В избранное
                  .cabinet__card__body
                    ul.options-vacansy
                      li.item-vacansy
                        span.item-vacansy__label Стаж
                        span.item-vacansy__text 1-3 года
                      li.item-vacansy
                        span.item-vacansy__label Последнее место работы
                        span.item-vacansy__text УО СШ №321
                      li.item-vacansy
                        span.item-vacansy__label Уровень зарплаты
                        span.item-vacansy__text от 30 000 ₽

                  .cabinet__card__footer
                    .b-left
                      .b-btns
                        a.btn.btn--xs-full(href="#") Подробнее





      .pagination-section
        ul.pagination.--right.--md-center
          li.pagination__item.arr-prev
            a.link.arr(href="#")
              +icon('chevron-left')
          li.pagination__item
            a.link.active(href="#") 1
          li.pagination__item
            a.link(href="#") 2
          li.pagination__item
            a.link(href="#") 3
          li.pagination__item
            span.link ...
          li.pagination__item
            a.link(href="#") 10
          li.pagination__item.arr-next
            a.link.arr(href="#")
              +icon('chevron-right')
