extends ../template

block variables
  - var title = 'Webpack 4'
  - var pageClass = 'index-page'
  - var keywords = 'some keyword'
  - var description = 'some description'

block content

  ul.index-menuu
    li
      a(href="main.html") Главная
    li
      a(href="login.html") Вход
    li
      a(href="reg.html") Регистрация
    li
      a(href="reg-thanks.html") Поздравляем с регистрацией
    li
      a(href="repass.html") Забыли пароль
    li
      a(href="success.html") Регистрация Готова
    li
      a(href="contacts.html") Контакты
    li
      a(href="prav-info.html") Правовая информация
    li
      a(href="404.html") 404
    li
      a(href="faq.html") FAQ
    li
      a(href="soglasie.html") Пользовательское соглашение
    li
      strong КАБИНЕТ
    li
      a(href="cabinet.html") Кабинет
    li
      a(href="cabinet-edit.html") Кабинет редактирование
    li
      a(href="cabinet-create.html") Кабинет создание
    li
      a(href="cabinet-edit-resume.html") Кабинет соискателя_редактировать_резюме
    li
      a(href="cabinet-resume-view.html") Кабинет соискателя_Просмотр резюме
    li
      a(href="cabinet-resume-list.html") Кабинет_соискателя_список_резюме
    li
      a(href="cabinet-resume-list-catalog.html") Кабинет соискателя_каталог вакансий


    //li
    //  a(href="index.html") Главная
    //

    //li
    //  a(href="index.html") Главная
    //

    //li
    //  a(href="index.html") Главная
    //

    //li
    //  a(href="index.html") Главная
    //

    //li
    //  a(href="index.html") Главная
    //

    //li
    //  a(href="index.html") Главная
    //

    //li
    //  a(href="index.html") Главная
    //

    //li
    //  a(href="index.html") Главная
    //

    //li
    //  a(href="index.html") Главная
    //

    //li
    //  a(href="index.html") Главная
    //

    //li
    //  a(href="index.html") Главная
    //

    //li
    //  a(href="index.html") Главная
    //

    //li
    //  a(href="index.html") Главная
    //

