extends ../template

block variables
  - var title = 'Webpack 4'
  - var pageClass = 'index-page'
  - var keywords = 'some keyword'
  - var description = 'some description'

block content

  ul.index-menuu
    li
      a(href="main.html") Главная
    li
      a(href="login.html") Вход
    li
      a(href="reg.html") Регистрация
    li
      a(href="reg-thanks.html") Поздравляем с регистрацией
    li
      a(href="repass.html") Забыли пароль
    li
      a(href="success.html") Регистрация Готова
    //li
    //  a(href="index.html") Главная
    //li
    //  a(href="index.html") Главная
    //li
    //  a(href="index.html") Главная
    //li
    //  a(href="index.html") Главная
    //li
    //  a(href="index.html") Главная
    //li
    //  a(href="index.html") Главная
    //li
    //  a(href="index.html") Главная
    //li
    //  a(href="index.html") Главная
    //li
    //  a(href="index.html") Главная
    //li
    //  a(href="index.html") Главная
    //li
    //  a(href="index.html") Главная
    //li
    //  a(href="index.html") Главная
    //

