extends ../template

block variables
  - var title = 'Webpack 4'
  - var pageClass = 'index-page'
  - var keywords = 'some keyword'
  - var description = 'some description'

block content

  ul.index-menuu
    li
      a(target="_blank" href="main.html") Главная
    li
      a(target="_blank" href="login.html") Вход
    li
      a(target="_blank" href="reg.html") Регистрация
    li
      a(target="_blank" href="reg-thanks.html") Поздравляем с регистрацией
    li
      a(target="_blank" href="repass.html") Забыли пароль
    li
      a(target="_blank" href="success.html") Регистрация Готова
    li
      a(target="_blank" href="contacts.html") Контакты
    li
      a(target="_blank" href="prav-info.html") Правовая информация
    li
      a(target="_blank" href="404.html") 404
    li
      a(target="_blank" href="faq.html") FAQ
    li
      a(target="_blank" href="soglasie.html") Пользовательское соглашение
    li
      strong КАБИНЕТ
    li
      a(target="_blank" href="cabinet.html") Кабинет
    li
      a(target="_blank" href="cabinet-edit.html") Кабинет редактирование
    li
      a(target="_blank" href="cabinet-create.html") Кабинет создание
    li
      a(target="_blank" href="cabinet-edit-resume.html") Кабинет соискателя_редактировать_резюме
    li
      a(target="_blank" href="cabinet-resume-view.html") Кабинет соискателя_Просмотр резюме
    li
      a(target="_blank" href="cabinet-resume-list.html") Кабинет_соискателя_список_резюме
    li
      a(target="_blank" href="cabinet-resume-list-catalog.html") Кабинет соискателя_каталог вакансий
    li
      a(target="_blank" href="cabinet-favorites.html") Кабинет соискателя_Избранные вакансии
    li
      a(target="_blank" href="cabinet-notifications.html") Кабинет соискателя_Уведомления

    li
      a(target="_blank" href="cabinet-podrobno.html") Кабинет соискателя_вакансия подробно
    li
      strong КАБИНЕТ ДИРЕКТОРА
    li
      a(target="_blank" href="dir-cabinet.html") Кабинет директора_профиль
    li
      a(target="_blank" href="dir-cabinet-edit.html") Кабинет директора_Редактировать профиль
    li
      a(target="_blank" href="dir-cabinet-create.html") Кабинет директора_Создать вакансию

    li
      a(target="_blank" href="dir-cabinet-my-vacasy.html") Кабинет директора_Мои вакансии


    li
      a(target="_blank" href="dir-cabinet-arhive.html") Кабинет директора_архив


    li
      a(target="_blank" href="dir-cabinet-edit-vacansy.html") Кабинет Директора_Редактировать вакансию


    li
      a(target="_blank" href="dir-cabinet-list-response-resume.html") Кабинет Директора_отклики на вакансию


    li
      a(target="_blank" href="dir-cabinet-podrobno-vacansy.html") Кабинет Директора_Вакансия подробно


    li
      a(target="_blank" href="dir-cabinet-resume-list-catalog.html") Кабинет директора_каталог_резюме


    li
      a(target="_blank" href="dir-cabinet-response-podrobno.html") Кабинет Директора_отклик: подробно


    li
      a(target="_blank" href="dir-cabinet-favorites.html") Кабинет Директора_избранные резюме


    li
      a(target="_blank" href="dir-cabinet-notifications.html") Кабинет директора_Уведомления

    li
      strong КАБИНЕТ АДМИНИСТРАТОРА
    li
      a(target="_blank" href="admin-profile.html") Кабинет админа_ профиль


    li
      a(target="_blank" href="admin-cabinet-edit.html") Кабинет Админа_Редактировать профиль


    li
      a(target="_blank" href="admin-cabinet-create.html") Кабинет админа_создать_резюме

    li
      a(target="_blank" href="admin-cabinet-edit-resume.html") Кабинет админа_редактировать_резюме

    li
      a(target="_blank" href="admin-cabinet-resume-view.html") Кабинет админиа_Просмотр резюме

    li
      a(target="_blank" href="admin-cabinet-resume-list-catalog.html") Кабинет админа_каталог_резюме

    li
      a(target="_blank" href="admin-cabinet-create-vacancy.html") Кабинет админа_Создать вакансию

    li
      a(target="_blank" href="admin-cabinet-vacancy-list-catalog.html") Кабинет админа_каталог вакансий

    li
      a(target="_blank" href="admin-cabinet-vacancy-podrobno.html") Кабинет админа_Вакансия подробно

    li
      a(target="_blank" href="admin-cabinet-list-response-vacancy.html") Кабинет админа_отклики на вакансию

    li
      a(target="_blank" href="admin-cabinet-notifications.html") Кабинет админа_Уведомления

    li
      a(target="_blank" href="admin-cabinet-control.html") Кабинет админа_Управление

    li
      a(target="_blank" href="admin-cabinet-reports.html") Кабинет админа_отчеты

    li
      a(target="_blank" href="admin-cabinet-report-soiskatel.html") Кабинет админа_ Отчет подробно соискатели

    //li
    //  a(target="_blank" href="index.html") Главная
    //
    //li
    //  a(target="_blank" href="index.html") Главная
    //
    //li
    //  a(target="_blank" href="index.html") Главная
    //
    //li
    //  a(target="_blank" href="index.html") Главная
    //
    //li
    //  a(target="_blank" href="index.html") Главная
    //
    //li
    //  a(target="_blank" href="index.html") Главная
    //
    //li
    //  a(target="_blank" href="index.html") Главная
    //
    //li
    //  a(target="_blank" href="index.html") Главная
    //





  <br><br><br><br>
  h2.h2-title Попапы
  ul.index-menuu
    li
      a.js-btn-modal(target="_blank" href="#" data-modal="modal-anons") Анонс
    li
      a.js-btn-modal(target="_blank" href="#" data-modal="modal-support") Обратная связь
    li
      a.js-btn-modal(target="_blank" href="#" data-modal="modal-covering-letter") Сопроводительное письмо
    li
      a.js-btn-modal(target="_blank" href="#" data-modal="modal-review") Отзывы
    //li
    //  a.js-btn-modal(target="_blank" href="#" data-modal="modal-support") Обратная связь
    //li
    //  a.js-btn-modal(target="_blank" href="#" data-modal="modal-support") Обратная связь
  <br><br><br><br>

  .form-form
    .cabinet-edit__section
      .cabinet-edit__row
        .cabinet-edit__col-md-1
          .form-item
            label.label Фамилия*
            input.input(type="text" placeholder="Фамиля")
      .cabinet-edit__row
        .cabinet-edit__col-md-1
          .form-item
            label.label ошибка
            input.input.inp-error(type="text" placeholder="Фамиля")
      .cabinet-edit__row
        .cabinet-edit__col-md-1
          .form-item
            label.label success
            input.input.inp-succ(type="text" placeholder="Фамиля")
      .cabinet-edit__row
        .cabinet-edit__col-md-1
          .form-item
            label.label disabled
            input.input(type="text" disabled= placeholder="Фамиля")
