extends ../template

block variables
  - var title = 'Webpack 4'
  - var pageClass = 'index-page'
  - var keywords = 'some keyword'
  - var description = 'some description'

block content

  ul.index-menuu
    li
      a(href="main.html") Главная
    li
      a(href="login.html") Вход
    li
      a(href="reg.html") Регистрация
    li
      a(href="reg-thanks.html") Поздравляем с регистрацией
    li
      a(href="repass.html") Забыли пароль
    li
      a(href="success.html") Регистрация Готова
    li
      a(href="contacts.html") Контакты
    li
      a(href="prav-info.html") Правовая информация
    li
      a(href="404.html") 404
    li
      a(href="faq.html") FAQ
    li
      a(href="soglasie.html") Пользовательское соглашение
    li
      strong КАБИНЕТ
    li
      a(href="cabinet.html") Кабинет
    li
      a(href="cabinet-edit.html") Кабинет редактирование
    li
      a(href="cabinet-create.html") Кабинет создание
    li
      a(href="cabinet-edit-resume.html") Кабинет соискателя_редактировать_резюме
    li
      a(href="cabinet-resume-view.html") Кабинет соискателя_Просмотр резюме
    li
      a(href="cabinet-resume-list.html") Кабинет_соискателя_список_резюме
    li
      a(href="cabinet-resume-list-catalog.html") Кабинет соискателя_каталог вакансий
    li
      a(href="cabinet-favorites.html") Кабинет соискателя_Избранные вакансии
    li
      a(href="cabinet-notifications.html") Кабинет соискателя_Уведомления

    li
      a(href="cabinet-podrobno.html") Кабинет соискателя_вакансия подробно



    //li
    //  a(href="index.html") Главная


    //li
    //  a(href="index.html") Главная
    //

    //li
    //  a(href="index.html") Главная
    //

    //li
    //  a(href="index.html") Главная
    //

    //li
    //  a(href="index.html") Главная
    //

    //li
    //  a(href="index.html") Главная
    //

    //li
    //  a(href="index.html") Главная
    //

    //li
    //  a(href="index.html") Главная
    //

    //li
    //  a(href="index.html") Главная
    //

    //li
    //  a(href="index.html") Главная
    //

    //li
    //  a(href="index.html") Главная
    //

    //li
    //  a(href="index.html") Главная
    //
  <br><br><br><br>
  h2.h2-title Попапы
  ul.index-menuu
    li
      a.js-btn-modal(href="#" data-modal="modal-anons") Анонс
    li
      a.js-btn-modal(href="#" data-modal="modal-support") Обратная связь
    li
      a.js-btn-modal(href="#" data-modal="modal-covering-letter") Сопроводительное письмо
    li
      a.js-btn-modal(href="#" data-modal="modal-support") Обратная связь
    li
      a.js-btn-modal(href="#" data-modal="modal-support") Обратная связь
    li
      a.js-btn-modal(href="#" data-modal="modal-support") Обратная связь
  <br><br><br><br>

  .form-form
    .cabinet-edit__section
      .cabinet-edit__row
        .cabinet-edit__col-md-1
          .form-item
            label.label Фамилия*
            input.input(type="text" placeholder="Фамиля")
      .cabinet-edit__row
        .cabinet-edit__col-md-1
          .form-item
            label.label ошибка
            input.input.inp-error(type="text" placeholder="Фамиля")
      .cabinet-edit__row
        .cabinet-edit__col-md-1
          .form-item
            label.label success
            input.input.inp-succ(type="text" placeholder="Фамиля")
      .cabinet-edit__row
        .cabinet-edit__col-md-1
          .form-item
            label.label disabled
            input.input(type="text" disabled= placeholder="Фамиля")
