extends ../template

block variables
  - var title = 'Webpack 4'
  - var pageClass = 'index-page'
  - var keywords = 'some keyword'
  - var description = 'some description'

block content
  .lvl1
    .all
      .lvl1-content
        h1.h1 команды мечты создаются здесь
        .text помощник в поиске работы и сотрудников в сфере образования
        .b-btn
          a.btn(href="#") Начать
      .lvl1-img
        img.lvl-bg(src="assets/img/ill1.svg")
  .lvl2
    .all
      .card3in-list
        .card3in
          .card3in-wrapper
            .card3in__icon
              img(src="assets/img/ic1.svg")
            .card3in__text
              .num 67
              | предложений о работе
        .card3in
          .card3in-wrapper
            .card3in__icon
              img(src="assets/img/ic2.svg")
            .card3in__text
              .num 180
              | размещенных резюме
        .card3in
          .card3in-wrapper
            .card3in__icon
              img(src="assets/img/ic3.svg")
            .card3in__text
              .num 113
              | приглашений на собеседование
