extends ../template

block variables
  - var title = 'Webpack 4'
  - var pageClass = 'second-page'
  - var footerNew = true
  - var keywords = 'some keyword'
  - var description = 'some description'

block content
  .lvl1
    .all
      .lvl1-box
        .lvl1-content
          h1.h1-title команды мечты создаются здесь
          .text помощник в поиске работы и сотрудников в сфере образования
          .b-btn
            a.btn(href="#") Начать
        .lvl1-img
          img.lvl-bg(src="assets/img/main-new.svg")
  .lvl7
    .all
      .info-box-row.--row-2
        .info-box
          .info-box__wrap
            .info-box__title Для работодателей
            .info-box__img
              img(src="assets/img/login-job.svg")
            .info-box__text Доступ к банку резюме предоставляется администрациям школ города Москвы. Если вы являетесь директором московской школы, вы можете войти в банк резюме, используя единую учетную запись ЕКИС.
            .info-box__btn
              a.btn(href="#") Вход для работодателей
        .info-box
          .info-box__wrap
            .info-box__title Для соискателей
            .info-box__img
              img(src="assets/img/login-people.svg")
            .info-box__text Ваш помощник в поиске работы в московских школах. <br>
              | Бесплатная публикация резюме
            .info-box__btn
              a.btn(href="#") Вход для соискателей

  .lvl6
    .all
      .questions-remain
        .questions-remain__left
          .h2-title Остались вопросы?
          .text Ответы на часто задаваемые вопросы здесь. Специалисты службы поддержки банка резюме могут оказывать вам помощь в заполнении резюме.Если у вас возникли сложности или вопросы, вы можете связаться с нами.
          .b-btn
            a.btn.js-btn-modal(href="#" data-modal="modal-support") Обратная связь
        .questions-remain__right
          .faq-list
            .faq-item.js-faq-wrapper
              .faq-item__toggle
                .faq-item__title.js-faq-toggler
                  | Как пользоваться Банком резюме?
                .faq-item__ico
                  +icon('plus-circle')
                  +icon('minus-circle')
              .faq-item__desc.js-faq-desq Ответы на часто задаваемые вопросы здесь. Специалисты службы поддержки банка резюме могут оказывать вам помощь в заполнении резюме. <br>Если у вас возникли сложности или вопросы, вы можете связаться с нами.
            .faq-item.js-faq-wrapper
              .faq-item__toggle
                .faq-item__title.js-faq-toggler
                  | Как пользоваться Банком резюме?
                .faq-item__ico
                  +icon('plus-circle')
                  +icon('minus-circle')
              .faq-item__desc.js-faq-desq Ответы на часто задаваемые вопросы здесь. Специалисты службы поддержки банка резюме могут оказывать вам помощь в заполнении резюме. <br>Если у вас возникли сложности или вопросы, вы можете связаться с нами.
            .faq-item.js-faq-wrapper
              .faq-item__toggle
                .faq-item__title.js-faq-toggler
                  | Как пользоваться Банком резюме?
                .faq-item__ico
                  +icon('plus-circle')
                  +icon('minus-circle')
              .faq-item__desc.js-faq-desq Ответы на часто задаваемые вопросы здесь. Специалисты службы поддержки банка резюме могут оказывать вам помощь в заполнении резюме. <br>Если у вас возникли сложности или вопросы, вы можете связаться с нами.
            .faq-item.js-faq-wrapper
              .faq-item__toggle
                .faq-item__title.js-faq-toggler
                  | Как пользоваться Банком резюме?
                .faq-item__ico
                  +icon('plus-circle')
                  +icon('minus-circle')
              .faq-item__desc.js-faq-desq Ответы на часто задаваемые вопросы здесь. Специалисты службы поддержки банка резюме могут оказывать вам помощь в заполнении резюме. <br>Если у вас возникли сложности или вопросы, вы можете связаться с нами.
        .b-btn-mobile
          a.btn.js-btn-modal(href="#" data-modal="modal-support") Обратная связь
  .lvl8
    .all
      .banner-portal
        .banner-portal__img
          img(src="assets/img/logo_dpo.svg")
        .banner-portal__text
          .title Портал ДПО
          | Все самые актуальные курсы, карьерные треки и популярные мероприятия вы найдете на Портале ДПО
        .banner-portal__btn
          a.btn(href="#") Перейти на портал
