extends ../template

block variables
  - var title = 'Правовые основания работы системы '
  - var pageClass = 'second-page'
  - var keywords = 'some keyword'
  - var description = 'some description'

block content
  .all.pt-40
    section.section.section--prav
      .section-wrapper.js-text-overflow-wrapper
        .text-full-overflow
          h1.h2-title Правовые основания работы системы
          h2.h4-title Правовые основания работы
          p
            | Lorem ipsum dolor sit amet consectetur. Quis arcu donec non risus dolor lobortis. Nec posuere mauris sed tellus. Vel sed nec dolor lorem. Mauris fringilla diam at tortor cursus nisl justo. Est lacus odio etiam mi vitae nunc. Potenti diam fermentum purus scelerisque nulla eu tincidunt. Ut consectetur hendrerit congue bibendum cras sem. Nibh sit mauris in enim. Pulvinar enim morbi odio est dictumst vestibulum dictumst sit quisque. Sed dui adipiscing eleifend ac fermentum ut rhoncus neque. Convallis convallis eu sed ac ultricies. Volutpat orci et mauris nisi libero. Non nullam congue et sit interdum diam. Nulla suscipit mattis tristique rhoncus semper viverra nibh augue et. Proin pretium vulputate lacus viverra ornare turpis neque dignissim orci. Ac elementum nunc rutrum orci turpis. Nisi etiam odio eros sed vel amet viverra. Venenatis etiam suspendisse rhoncus dictum tempus. Fusce id netus eget at aliquam sem ultrices integer. <br>
            | Nisl bibendum vitae suspendisse lorem neque adipiscing arcu tellus vitae. A sem fames et fermentum congue non cras aliquet lectus. Dolor id quam placerat tortor eget lorem adipiscing egestas sodales. Lorem leo sit duis morbi pellentesque ultrices nibh. Dis sed vestibulum mattis non maecenas. Erat mattis metus elementum pulvinar interdum parturient cras mi. At ultrices dui neque urna consequat pellentesque at fermentum eget. Iaculis diam sagittis euismod ut non sagittis fermentum. Elementum sit tellus pellentesque etiam ut tortor. Donec ac in laoreet imperdiet. Est tortor elit fames purus dapibus blandit pretium. Condimentum sem pellentesque sem aliquet aliquam sollicitudin in sed. Mauris id viverra id sed. Viverra ut posuere eu vitae diam quam sit. A sem ultricies scelerisque luctus nunc. Dolor vitae id ut vitae ullamcorper tortor. Velit ut tincidunt elementum porttitor commodo. Commodo id semper fringilla vitae donec. Est velit nec eu eget morbi ultricies in id. Porttitor tempus ut nunc maecenas eros pulvinar. Id sociis lobortis ornare tellus massa adipiscing. Nunc ut id elementum eget sed eros. Quis mauris odio massa pellentesque augue vulputate sagittis euismod. Fermentum dolor nisi nunc ultrices quisque eget orci. Semper nec non consectetur at lectus in ullamcorper gravida gravida.

          h2.h4-title Правовые основания работы
          p
            | Lorem ipsum dolor sit amet consectetur. Quis arcu donec non risus dolor lobortis. Nec posuere mauris sed tellus. Vel sed nec dolor lorem. Mauris fringilla diam at tortor cursus nisl justo. Est lacus odio etiam mi vitae nunc. Potenti diam fermentum purus scelerisque nulla eu tincidunt. Ut consectetur hendrerit congue bibendum cras sem. Nibh sit mauris in enim. Pulvinar enim morbi odio est dictumst vestibulum dictumst sit quisque. Sed dui adipiscing eleifend ac fermentum ut rhoncus neque. Convallis convallis eu sed ac ultricies. Volutpat orci et mauris nisi libero. Non nullam congue et sit interdum diam. Nulla suscipit mattis tristique rhoncus semper viverra nibh augue et. Proin pretium vulputate lacus viverra ornare turpis neque dignissim orci. Ac elementum nunc rutrum orci turpis. Nisi etiam odio eros sed vel amet viverra. Venenatis etiam suspendisse rhoncus dictum tempus. Fusce id netus eget at aliquam sem ultrices integer. <br>
            | Nisl bibendum vitae suspendisse lorem neque adipiscing arcu tellus vitae. A sem fames et fermentum congue non cras aliquet lectus. Dolor id quam placerat tortor eget lorem adipiscing egestas sodales. Lorem leo sit duis morbi pellentesque ultrices nibh. Dis sed vestibulum mattis non maecenas. Erat mattis metus elementum pulvinar interdum parturient cras mi. At ultrices dui neque urna consequat pellentesque at fermentum eget. Iaculis diam sagittis euismod ut non sagittis fermentum. Elementum sit tellus pellentesque etiam ut tortor. Donec ac in laoreet imperdiet. Est tortor elit fames purus dapibus blandit pretium. Condimentum sem pellentesque sem aliquet aliquam sollicitudin in sed. Mauris id viverra id sed. Viverra ut posuere eu vitae diam quam sit. A sem ultricies scelerisque luctus nunc. Dolor vitae id ut vitae ullamcorper tortor. Velit ut tincidunt elementum porttitor commodo. Commodo id semper fringilla vitae donec. Est velit nec eu eget morbi ultricies in id. Porttitor tempus ut nunc maecenas eros pulvinar. Id sociis lobortis ornare tellus massa adipiscing. Nunc ut id elementum eget sed eros. Quis mauris odio massa pellentesque augue vulputate sagittis euismod. Fermentum dolor nisi nunc ultrices quisque eget orci. Semper nec non consectetur at lectus in ullamcorper gravida gravida.
        .text-small-overflow
          h1.h2-title Правовые основания работы системы
            h2.h4-title Правовые основания работы
            p
              | Lorem ipsum dolor sit amet consectetur. Quis arcu donec non risus dolor lobortis. Nec posuere mauris sed tellus. Vel sed nec dolor lorem. Mauris fringilla diam at tortor cursus nisl justo. Est lacus odio etiam mi vitae nunc. Potenti diam fermentum purus scelerisque nulla eu tincidunt. Ut consectetur hendrerit congue bibendum cras sem. Nibh sit mauris in enim. Pulvinar enim morbi odio est dictumst vestibulum dictumst sit quisque. Sed dui adipiscing eleifend ac fermentum ut rhoncus neque. Convallis convallis eu sed ac ultricies. Volutpat orci et mauris nisi libero. Non nullam congue et sit interdum diam. Nulla suscipit mattis...
              a.js-mobile-text-full(href="#") Читать далее
    section.section.section--document
      h2.h2-title документы
      .document-list
        .document-item
          a.document-item__wrapper(href="#")
            .icon
              +icon('file-text')
            .text Dui vitae vitae diam nibh condimentum blandit eget sapien
        .document-item
          a.document-item__wrapper(href="#")
            .icon
              +icon('file-text')
            .text Dui vitae vitae diam nibh condimentum blandit eget sapien
        .document-item
          a.document-item__wrapper(href="#")
            .icon
              +icon('file-text')
            .text Dui vitae vitae diam nibh condimentum blandit eget sapien
        .document-item
          a.document-item__wrapper(href="#")
            .icon
              +icon('file-text')
            .text Donec elementum neque urna massa porta tincidunt aliquet egestas quis.
        .document-item
          a.document-item__wrapper(href="#")
            .icon
              +icon('file-text')
            .text Dui vitae vitae diam nibh condimentum blandit eget sapien
        .document-item
          a.document-item__wrapper(href="#")
            .icon
              +icon('file-text')
            .text Dui vitae vitae diam nibh condimentum blandit eget sapien
        .document-item
          a.document-item__wrapper(href="#")
            .icon
              +icon('file-text')
            .text Donec elementum neque urna massa porta tincidunt porta tincidunt porta tinciduntporta tincidunt aliquet egestas quis.
        .document-item
          a.document-item__wrapper(href="#")
            .icon
              +icon('file-text')
            .text Dui vitae vitae diam nibh condimentum blandit eget sapien


      .loader-etc.pb-0
        a.link-loader(href="#") Смотреть еще
