extends ../template2

block variables
  - var title = 'Вход'
  - var pageClass = 'login-page'
  - var keywords = 'some keyword'
  - var description = 'some description'

block content
  .p-login
    .p-login-container
      .p-login-left
        .p-login-left__wrapper
          .p-login-header
            .logo
              a(href="#")
                +icon('logo', 1)
          .p-login-form
            .p-login-form__header
              .p-login-form__title.h2-title Готово!
              .p-login-form__subtitle Мы отправили новый пароль на tvojemail@mail.ru. <br>Войдите в Личный кабинет с новым паролем.
            .form-form
              .form-form__row
                label.label E-mail
                input.input(type="text" placeholder="Введите e-mail")
              .form-form__row.pb-40
                label.label Пароль
                .inp-password.js-pasword-wrapper
                  input.input.js-pasword-input(type="password" placeholder="Введите пароль")
                  span.password-icon.js-btn-password-toggle
                    +icon('eye')
                    +icon('eye-off')
              .form-form__row
                button.btn.btn--full(type="submit") Вход


      .p-login-image
        img(src="assets/img/ill1.svg")
