extends ../../template

block variables
  - var title = 'Кабинет'
  - var pageClass = 'second-page'
  - var keywords = 'some keyword'
  - var description = 'some description'

block content
  .all
    .card-contacts
      .card-contact
        .card-contact-wrapper
          .card-contact__title.h2-title контакты
          ul.card-contact__list
            li
              .ic
                +icon('map-pin')
              .text Москва, <br>Тимирязевская улица, 36

            li
              .ic
                +icon('phone')
              .text +7 (495) 915-26-89
            li
              .ic
                +icon('mail')
              .text info@corp-univer.ru
            li
              .ic
                +icon('globe')
              .text cu@edu.mos.ru

      .card-contact.pink
        .card-contact-wrapper
          .card-contact__title.h2-title Время работы службы поддержки
          ul.card-contact__list
            li
              .ic
                +icon('calendar')
              .text Понедельник-пятница
            li
              .ic
                +icon('clock')
              .text С 09:00 до 17:45
          .bottom-text
            a(href="#") Служба поддержки
    .contact-form
      .contact-form__left
        .h2-title Если вам нужна помощь или больше информации, напишите нам.
        .img
          img(src="assets/img/mail-contact.png")
      .contact-form__right
        .form-form
          .form-form__row
            label.label Имя
            input.input(type="text" placeholder="Имя")
          .form-form__row
            label.label Телефон
            input.input(type="text" placeholder="Телефон")
          .form-form__row
            label.label E-mail*
            input.input(type="text" placeholder="E-mail*")
          .form-form__row.pb-32
            label.label Ваш вопрос
            textarea.textarea(placeholder="Ваш вопрос")
          .form-form__row
            button.btn.btn--full(type="submit") Отправить
    .contact-about
      .h2-title Об организации-операторе Системы
      .contact-about__table
        .contact-about__row
          .th Полное наименование
          .td Государственное автономное образовательное учреждение дополнительного профессионального образования города Москвы «Корпоративный университет московского образования»

        .contact-about__row
          .th Сокращённое наименование
          .td ГАОУ ДПО «Корпоративный университет»

        .contact-about__row
          .th Дата создания
          .td 25 февраля 1938 года
        .contact-about__row
          .th Учредитель
          .td Департамент образования и науки города Москвы, Министр Правительства Москвы, руководитель Департамента образования и науки города Москвы — Молотков А.Б.
        .contact-about__row
          .th Юридический адрес
          .td 129090, ЦФО, г. Москва, ул. Большая Спасская, д. 15, стр. 1
        .contact-about__row
          .th Контакты
          .td
            | +7(495)366-66-80
            | https://www.mos.ru/donm
            | donm@mos.ru
        .contact-about__row
          .th Место нахождения
          .td 127422, ЦФО, г. Москва, Тимирязевская улица, дом 36


