.main--office
  padding-top: 60px
.cabinet
  &-progress
    margin-right: 32px
    display: flex
    align-items: center
    .progress-bar
      min-width: 176px
      margin-right: 12px
  &-header
    padding-bottom: 40px
    &__search
      padding-top: 32px
      display: flex
      gap: 18px
      .b-pole
        flex: 1 1 auto
      .pole-search
        background: url(../img/search.svg) 12px 50% no-repeat
        padding-left: 38px
      &-btns
        display: flex
        gap: 18px
        .btn
          padding-left: 24px
          padding-right: 24px
    &__tags
      display: flex
      padding-top: 12px
    &__tag-item
      display: inline-flex
      align-items: center
      vertical-align: top
      color: #000
      margin-right: 24px
      +r($md)
        margin-right: 12px
      .highlight
        display: inline-flex
        justify-content: center
        align-items: center
        vertical-align: top
        margin-left: 4px
        width: 30px
        height: 30px
        background: #F4F9FB
        color: $clrGrey80
        border-radius: 50%
    &__row
      display: flex
      flex-wrap: wrap
    &__title
      margin-right: auto
      text-transform: uppercase
      margin-bottom: 0
      padding-bottom: 0
      align-items: center
      display: inline-flex
      line-height: 1.25
      +r($md)
        width: 100%
        text-align: center
        justify-content: center
        padding-bottom: 18px
    &__subtitle
      font-size: 18px
      font-weight: 600
    &__date
      font-size: 15px
      color: $clrGrey60
      margin-top: 8px
    &__left
      padding-right: 20px
      max-width: 400px

      +r($md)
        width: 100%
        max-width: 100%
        margin-bottom: 32px
        .cabinet-header__title
          justify-content: flex-start
          padding-bottom: 4px
          text-align: left
    &__right
      margin-left: auto
      display: flex
      align-items: center
      .b-btns
        display: flex
        align-items: center
        +r($sm)
          flex-direction: column
          width: 100%
          gap: 12px
          .drop-select
            width: 100%
            margin: 0
      &.align-start
        align-items: flex-start
      +r($md)
        width: 100%
        justify-content: center
        text-align: center
      &.xl-column
        +r($xl)
          flex-direction: column
          .cabinet-progress
            margin-bottom: 32px
    &-select--public
      margin-right: 38px

  &-ava
    width: 170px
    height: 170px
    position: relative


    &-img
      width: 170px
      height: 170px
      overflow: hidden
      border-radius: 50%
      background: $clrGrey30
      border: 4px solid #fff
      &.active
        border-color: #F1BCC7
    &-wrapper
      position: relative
      width: 170px
      &.small
        .cabinet-fio
          padding-top: 12px
        .cabinet-ava
          width: 100px
          height: 100px
        .cabinet-ava-img
          width: 100px
          height: 100px
      .ic-camera
        position: absolute
        bottom: 10px
        right: 10px
        background: #F4F9FB
        width: 32px
        height: 32px
        border-radius: 50%
        display: flex
        align-items: center
        justify-content: center
        color: $clrGrey90
        .svg-icon
          width: 15px
          height: 15px
      .text-add
        text-align: center
        font-size: 12px
        color: $clrGrey60
        display: flex
        align-items: center
        justify-content: center
        padding-top: 14px
        .svg-icon
          width: 12px
          height: 12px
          margin-right: 4px
    &__edit
      overflow: hidden
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      input
        position: absolute
        bottom: 0
        right: 0
        width: 400px
        height: 400px
        font-size: 200px
        z-index: 1
        cursor: pointer
        opacity: 0
  &-fio
    padding-top: 32px
    text-transform: uppercase

  &-wrapper
    display: flex

  &-content
    flex: 1 1 auto
  &-aside
    flex: 0 0 232px
    & + .cabinet-content
      margin-left: 66px
  &-info
    .h4-title
      padding-bottom: 12px
    p
      padding-bottom: 18px
    &__box
      width: 100%
      padding-bottom: 60px
    &__section
      border-top: 1px solid $clrGrey40
      display: flex
      flex-wrap: wrap
      padding: 20px 0 30px
      width: 100%
      &.no-border
        border-top: none
      +r($md)
        padding-bottom: 18px
      .h2-title--section
        padding-bottom: 20px
    &__row
      padding-bottom: 12px
      min-width: 100%
      display: flex
      margin: 0 -24px
      +r($lg + 1)
        flex-wrap: wrap
      &.--x2
        padding-bottom: 42px
        +r($md)
          padding-bottom: 32px
    &__md-1
      display: flex
      width: 100%
      flex-direction: column
      padding: 0 24px
    &__md-2
      display: flex
      width: 50%
      flex-direction: column
      padding: 0 24px
    &__lg-1
      display: flex
      width: 100%
      flex-direction: column
      padding: 0 24px
    &__lg-2
      display: flex
      width: 50%
      flex-direction: column
      padding: 0 24px
      +r($lg + 1)
        width: 100%
    .form-item
      display: flex
      width: 100%
      padding-bottom: 12px
      +r($md)
        flex-wrap: wrap
    &__label
      color: $clrGrey60
      font-size: 15px
      flex: 0 0 280px
      padding-right: 20px
      +r($md)
        flex: 0 0 100%
        padding-right: 0
        padding-bottom: 4px
    &__text
      flex: 1 1 auto
      color: #000
      font-size: 18px
      font-weight: 600
      +r($md)
        flex: 0 0 100%
    &__bottom
      padding-top: 60px
      +r($md)
        padding-top: 20px
      .btn
        margin-right: 18px
        margin-bottom: 18px
    &__error
      padding-bottom: 12px
      color: $clrDangerMain
    &__btns
      display: flex
      flex-wrap: wrap
      &.--center
        justify-content: center
  &-edit
    display: flex
    flex-wrap: wrap
    max-width: 945px
    width: 100%
    &__text
      max-width: 890px
    &__section
      display: flex
      width: 100%
      flex-wrap: wrap
      gap: 18px
      +r($md)
        gap: 0
        &:first-child > .cabinet-edit__row:first-child > .cabinet-edit__col-md-2:first-child .h3-title
          padding-top: 0
      & + .cabinet-edit__section
        padding-top: 60px
        +r($md)
          padding-top: 40px
      .h3-title
        text-transform: uppercase
        margin: 0
        padding: 0 0 32px
    &__row
      display: flex

      gap: 0 50px
      width: 100%
      +r($md)
        flex-wrap: wrap
        gap: 0
        .form-item + .form-item
          padding-top: 0
    &__col-md-1
      width: 100%
      flex: 0 0 100%
    &__col-md-2
      width: 50%
      flex: 0 0 50%
      +r($md)
        width: 100%
        flex: 0 0 100%
        // margin-top: 16px
      .form-item
        max-width: 420px
    .form-item
      +r($md)
        max-width: 420px
        margin-top: 16px
        padding-top: 0
      &+.h3-title
        margin-top: 40px
    .input
  .add-row-wrapper + .add-row-wrapper
    margin-top: 18px
  .text-add
    text-align: center
    font-size: 12px
    color: $clrGrey60
    display: flex
    align-items: center
    cursor: pointer
    padding-top: 18px
    .svg-icon
      width: 12px
      height: 12px
      margin-right: 4px
  &-tabs
    .cabinet-header__title
      padding-bottom: 40px
    .tabs
      display: flex
      margin: 0
      padding: 0
      list-style: none
      gap: 12px
      +r($xl)
        overflow: auto
      +r($md)
        background: #F4F9FB
      &__item
        display: inline-flex
        align-items: center
        border-radius: 16px 16px 0 0
        border: 1px solid #F4F9FB
        justify-content: center
        padding: 18px
        color: $clrGrey60
        font-size: 18px
        font-weight: 600
        flex: 1 1 auto
        cursor: pointer
        +r($xl)
          min-width: 110px
        +r($md)
          border: none
          font-size: 12px
          padding: 8px 12px
          color: $clrGrey90
          background: none
          font-weight: 400
          border-bottom: 2px solid rgba(0,0,0,0)
        &.active, &:hover
          background: #F4F9FB
          color: $clrGrey90
          +r($md)
            border-bottom: 2px solid #007DB6
    .box
      display: none
      &-bg
        background: #F4F9FB
        border-radius: 0 0 16px 16px
        padding: 60px
        +r($lg)
          padding: 30px
        +r($md)
          padding: 30px 0
          background: none
        &+.box-bg
          border-radius: 16px
          margin-top: 18px
      &.show
        display: block
      &-wrapper
        max-width: 940px
        margin: 0 auto
        width: 100%
        .h3-title
          +r($md)
            font-size: 24px
            padding-top: 32px
            padding-bottom: 16px




.cabinet
  &__list
    padding-bottom: 62px
    +r($md)
      margin-left: -12px
      margin-right: -12px
      padding-bottom: 40px
  &__card
    box-shadow: -2px 2px 14px 0px rgba(27, 27, 27, 0.10)
    border-radius: 16px
    padding: 40px 60px
    border: 1px solid rgba(0,0,0,0)
    margin-bottom: 18px
    +r($md)
      padding: 18px 12px

    &:hover
      border-color: $clrPrimaryPressed
    .cabinet-progress
      margin-right: 0
    .mobile-dates
      display: none
      font-size: 12px
      color: $clrGrey60
      margin-bottom: 18px
      +r($md)
        display: block
    &__wrapper
      width: 100%
      &.cabinet__card--smd
        .cabinet__card
          padding: 32px 40px
    &__header
      display: flex
      +r($md)
        flex-wrap: wrap
        width: 100%
      .header-title
        text-transform: uppercase
        padding-bottom: 4px
        +r($md)
          flex: 1 1 auto
          padding-right: 12px
      .b-left
        padding-right: 20px
        +r($md)
          padding-right: 0
          display: flex
          width: 100%
        +r($xss)
          flex-wrap: wrap
      .b-right
        width: 230px
        margin-left: auto
        +r($md)
          width: 100%

    &__status
      position: relative
      color: $clrGrey60
      padding-left: 12px
      white-space: nowrap
      +r($sm)
        font-size: 12px
        margin-bottom: 12px
      &:after
        position: absolute
        background: #B0112E
        width: 8px
        height: 8px
        top: 8px
        left: 0
        content: ""
        border-radius: 50%
        +r($sm)
          width: 6px
          height: 6px
          top: 6px
      &.active
        &:after
          background: #197962
    &__body
      padding-top: 18px
      .title
    .statistics
      margin: 0
      padding: 0 0 32px
      li
        margin-right: 18px
      strong
        font-weight: 600
    .b-text
      padding-bottom: 12px
    &__btns
      display: flex
      gap: 18px
      +r($md)
        flex-wrap: wrap
    &__footer
      padding-top: 30px
      display: flex
      flex-wrap: wrap
      .b-left
        padding-right: 20px
        +r($md)
          padding-right: 0
          width: 100%
      .b-right
        width: 230px
        margin-left: auto
      .links
      .dates
        color: $clrGrey60
        +r($md)
          display: none
